body, 
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu,
.sub-menu {
    list-style: none;
    background: #5F5F5F;
}
.sub-menu {
    background: #5F5F5F;
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.menu li {
    position: relative;
}
.menu > li {
    float: left;
}
.menu > li:hover {
    background: #000;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;
}
.sub-menu li:hover {
    background: #444;
}
.menu-selected{background:#5ADCFF }
#container{text-align: center;}
#jogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}
.linha{
    display: table;
}
.casa{
    float: left;
    width: 5em;
    height: 5em;
    -webkit-box-shadow: 2px 2px 7px 2px #3D3D3D;
    box-shadow: 2px 2px 7px 2px #3D3D3D;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    line-height: 5em;  
}

.casa span{
    font-size: 3em;
}
#casa-1{
    -webkit-border-radius: 20px 0px 0px 0px;
    border-radius: 20px 0px 0px 0px;
}
#casa-3{
    -webkit-border-radius: 0px 20px 0px 0px;
    border-radius: 0px 20px 0px 0px;
}
#casa-7{
    -webkit-border-radius: 0px 0px 0px 20px;
    border-radius: 0px 0px 0px 20px;
}
#casa-9{
    -webkit-border-radius: 0px 0px 0px 20px;
    border-radius: 0px 0px 20px 0px;
}
#resultado{
    text-shadow: 2px 2px 5px #5ADCFF;
    font-size: 7em;
}
